---
export interface Props {
    className?: string;
}
const { className = "" } = Astro.props;
---

<h2 data-slot="panel-title" class={`text-md font-medium text-balance ${className}`}>
    <slot />
</h2>
